@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat&family=Open+Sans&family=Roboto&family=Fredoka+One&display=swap');

* {
  color: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Roboto", "Montserrat", "Open Sans", serif;
  font-size: 20px;

  min-height: 100vh;
}

@import 'components/container';
@import 'components/title';
@import 'components/header';
@import 'components/main';
@import 'components/nav';
@import 'components/image';
@import 'components/list';
@import 'components/link';
@import 'components/footer';