@import './reset.css';
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat&family=Open+Sans&family=Roboto&family=Fredoka+One&display=swap");
* {
  color: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  background-image: url("../assets/images/background/max_1200.png");
  background-size: cover;
  font-family: "Roboto", "Montserrat", "Open Sans", serif;
  font-size: 20px;
  min-height: 100vh;
}

.container {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-rows: 3.5em 5fr minmax(7em, auto);
  grid-template-areas: "header" "main" "footer";
}

.title {
  font-family: "Fredoka One", "Chewy";
  display: inline-block;
  letter-spacing: 0.2em;
  text-align: center;
  text-shadow: 0 0 5px #000;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #eee;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  padding-top: 40em;
}
.main .section {
  margin-bottom: 10rem;
  line-height: 1.3rem;
}
.main:nth-child(1) {
  margin-top: 0;
}

.info {
  padding: 1em;
  width: 70%;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1em;
  border-radius: 1em;
  margin-left: 5em;
  margin-right: 5em;
}

.info-1 {
  margin-top: 23em;
  align-self: flex-start;
}

.info-2 {
  margin-left: 12em;
  align-self: flex-end;
}

.logo-description {
  font-size: 1.75em;
  max-width: 90%;
  text-align: center;
}

.nav .item {
  border: 1px solid #eee;
  border-bottom: none;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  transition: 0.2s;
}
.nav .item:hover {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.nav .item:hover .link {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.nav .item .link {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5em;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100%;
}

.inline-list {
  flex-direction: row;
  flex-wrap: nowrap;
}
.inline-list .item {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em;
}
.inline-list .item:nth-child(1) {
  margin-left: 0;
}

.link {
  text-decoration: none;
  min-height: 100%;
  min-width: 100%;
}

.footer {
  grid-area: footer;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-top: 1px solid #eee;
}
.footer .media {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
}
.footer .media .media-container-aux {
  display: flex;
  flex-direction: column;
  margin-right: 0.6em;
}
.footer .media .link {
  margin-bottom: 1em;
  transition: 0.1s ease-out;
}
.footer .media .link:nth-last-child(1) {
  margin-bottom: 0;
}
.footer .media .link:hover {
  transform: scale(0.9);
}
.footer .media .link:active {
  transform: translateY(0.2em) scale(0.85);
}
.footer .media .social-media {
  width: 3em;
  height: 3em;
}
.footer .footer-nav {
  font-size: 1.2em;
  max-width: 50%;
}
.footer .footer-nav .list {
  align-items: flex-start;
  list-style-type: disc;
  flex-wrap: wrap;
}
.footer .footer-nav .list .markdown {
  cursor: default;
}
.footer .footer-nav .list .item {
  margin-bottom: 0.5em;
  flex-shrink: 0;
}
.footer .footer-nav .list .item:hover {
  text-shadow: 0 0 5px #777;
  text-decoration: underline;
}
.footer .footer-nav .list .item:active {
  text-decoration: underline;
  transform: scale(0.9);
}
.footer .footer-nav .marcas {
  margin-top: 0.5em;
  margin-left: 1em;
}
.footer .copyright {
  text-align: right;
  line-height: 1.1em;
  padding-right: 1em;
}
.footer .copyright .copyright-year {
  margin-top: 1em;
}

.trademarks-main-section {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  padding-top: 3em;
  min-width: 90%;
}
.trademarks-main-section .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10em;
  border-radius: 10%;
  padding-bottom: 1em;
  transition: 0.2s;
}
.trademarks-main-section .product:nth-child(2) .image {
  transform: scale(1.3);
}
.trademarks-main-section .product .image {
  width: 15em;
  padding: 1em;
}
.trademarks-main-section .product .text-logo {
  height: 2em;
}
.trademarks-main-section .product:nth-child(1) {
  grid-column: 1;
}
.trademarks-main-section .product:hover {
  background: rgba(238, 238, 238, 0.1);
  transform: scale(1.05);
}
.trademarks-main-section .product:active {
  transform: scale(1.02) translateY(0.5em);
}

.products-title {
  font-size: 3em;
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  body {
    background-image: url("../assets/images/background/max_576.png");
  }
}
@media screen and (min-width: 576px) {
  body {
    background-image: url("../assets/images/background/min_576.png");
  }
}
@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }

  body {
    background-image: url("../assets/images/background/min_768.png");
  }
  body .container .main .info {
    text-shadow: 0 0 1px #000;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }
  body .container .main .info-1 {
    margin-top: 32em;
  }

  html body .container .main .info-2 {
    margin-right: 0;
  }

  .trademarks-main-section .product .image {
    width: 10em;
  }
}
@media screen and (min-width: 992px) {
  * {
    font-size: 18px;
  }

  body {
    background-image: url("../assets/images/background/min_992.png");
  }
  body .container .main .info-1 {
    margin-top: 30em;
  }

  .media .social-media {
    width: 2em;
    height: 2em;
  }

  .trademarks-main-section .product .image {
    width: 15em;
  }
}
@media screen and (min-width: 1200px) {
  * {
    font-size: 20px;
  }

  body {
    background-image: url("../assets/images/background/min_1200.png");
  }
}
@media screen and (min-width: 1493px) {
  .main {
    padding-top: 50em;
  }
}
@media screen and (min-width: 1770px) {
  .main {
    padding-top: 60em;
  }
}
@media screen and (min-width: 1920px) {
  * {
    font-size: 24px;
  }

  .main {
    padding-top: 50em;
  }
  .main .info {
    line-height: 1.2em;
  }
}
.body-product {
  background-image: url("../assets/images/background/products.png");
}

.main-product {
  padding-top: 0;
}

.product-container {
  display: flex;
  justify-content: space-around;
  width: 85%;
  flex-wrap: wrap;
}
.product-container .product {
  max-width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  padding-top: 1em;
  box-shadow: 0 0 3px 1px #eee, 4px 4px 2px #aaa, 0 0 4px 1px #bbb inset;
  margin-top: 1em;
}
.product-container .product .image {
  width: 100%;
}
.product-container .product .name {
  font-size: 1.5rem;
  line-height: 2em;
  text-shadow: 1px 1px 3px #aaa, -1px -1px 2px #444, -2px -2px 2px #000;
}
.product-container .product .description {
  text-align: center;
  line-height: 1.3em;
  padding: 0 0.3em;
  padding-bottom: 0.2em;
}

/*# sourceMappingURL=main.css.map */
