.footer {
  grid-area: footer;

  background-color: #111;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: .5em;
  padding-bottom: 1em;

  border-top: 1px solid #eee;

  .media {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;

    .media-container-aux {
      display: flex;
      flex-direction: column;

      margin-right: .6em;
    }

    .link {
      margin-bottom: 1em;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      &:hover {
        transform: scale(.9);
      }

      &:active {
        transform: translateY(.2em) scale(.85);
      }

      transition: .1s ease-out;
    }

    .social-media {
      width: 3em;
      height: 3em;
    }
  }

  .footer-nav {
    font-size: 1.2em;
    max-width: 50%;

    .list {
      align-items: flex-start;

      list-style-type: disc;
      flex-wrap: wrap;

      .markdown {
        cursor: default;
      }

      .item {
        margin-bottom: .5em;
        flex-shrink: 0;

        &:hover {
          text-shadow: 0 0 5px #777;
          text-decoration: underline;
        }

        &:active {
          text-decoration: underline;
          transform: scale(.9);
        }
      }
    }

    .marcas {
      margin-top: .5em;
      margin-left: 1em;
    }
  }

  .copyright {
    text-align: right;
    line-height: 1.1em;
    padding-right: 1em;

    .copyright-year {
      margin-top: 1em;
    }
  }
}