.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.inline-list {
  flex-direction: row;

  .item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}