.main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;

  .main-logo {
    width: 30em;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10em;
  }

  .section {
    margin-bottom: 10rem;
    line-height: 1.3rem;
  }


  &:nth-child(1) {
    margin-top: 0;
  }
}

.info {
  width: 70%;
}

.info-1 {
  margin-right: 10em;
}

.info-2 {
  margin-left: 10em;
}

.logo-title {
  font-size: 3em;

  animation: fadeInDown;
  // animation-duration: .2s;
}

.logo-description {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
}