.main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;
  padding-top: 40em;

  // .main-logo {
  //   width: 25em;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;

  //   margin-bottom: 10em;

  //   // transform: translateY(20em);
  //   padding-top: 5em;

  //   .image {
  //     max-width: 100%;
  //   }

  //   .logo-title {
  //     width: 70%;
  //   }
  // }

  .section {
    margin-bottom: 10rem;
    line-height: 1.3rem;
  }



  &:nth-child(1) {
    margin-top: 0;
  }
}

.info {
  padding: 1em;
  width: 70%;
  background: rgba($color: #000, $alpha: .4);

  font-size: 1em;
  border-radius: 1em;

  margin-left: 5em;
  margin-right: 5em;
}

.info-1 {
  margin-top: 23em;

  align-self: flex-start;
}

.info-2 {
  margin-left: 12em;

  align-self: flex-end;
}



.logo-description {
  // margin-top: 13em;
  font-size: 1.75em;
  max-width: 90%;
  text-align: center;
}