.trademarks-main-section {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;

  padding-top: 3em;

  min-width: 90%;
  // max-width: 80%;

  // padding-left: 1.5em;
  // padding-right: 1.5em;

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 10em;

    // border: 1px solid #777;
    border-radius: 10%;

    padding-bottom: 1em;

    &:nth-child(2) {
      .image {
        transform: scale(1.3);
      }
    }

    .image {
      width: 15em;
      padding: 1em;


    }


    .text-logo {
      height: 2em;
    }

    &:nth-child(1) {
      grid-column: 1;
    }

    &:hover {
      background: rgba($color: #eee, $alpha: .1);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.02) translateY(.5em);
    }

    transition: .2s;
  }
}

.products-title {
  font-size: 3em;
  text-decoration: underline;
}